body {
  height: 100vh;
  overflow: hidden;
  font-family: Mark Pro, sans-serif;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-bar {
  height: 10%;
  background-color: #333334;
}

.content {
  height: 90%;
  /* background-color: #90a4ae; */
}